# This file is imported by init.{ro.hardware}.rc

# to override this file (device specific .rc)
import /init.${ro.hardware}_core.rc

# FM Framework
import /init.fm_vendor.rc

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system
    mkdir /persist-lg 0755 system system
    mkdir /sns 0775 system system
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /mnt/media_rw 0700 media_rw media_rw
    mkdir /mnt/media_rw/external_SD 0700 media_rw media_rw
    mkdir /storage 0751 system sdcard_r
    mkdir /storage/emulated 0555 root root
    mkdir /storage/emulated/legacy 0555 root root
    mkdir /storage/external_SD 0700 root root
    mkdir /mnt/pstore 660 system system
    mount pstore /mnt/pstore /mnt/pstore

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EXTERNAL_ADD_STORAGE /storage/external_SD
    export SECONDARY_STORAGE /storage/external_SD
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0

    # LGE_CHANGE_START, 2014/10/17, D3-5T-FS@lge.com
    # Create filesystem if necessary
    exec /sbin/setup_fs_static \
        /dev/block/bootdevice/by-name/userdata \
        /dev/block/bootdevice/by-name/cache \
        /dev/block/bootdevice/by-name/drm \
        /dev/block/bootdevice/by-name/sns \
        no_reboot
    # LGE_CHANGE_END

# LGE_CHANGE_START
on post-fs
# execute sreadahead daemon to reduce boot time
	start sreadahead
# LGE_CHAGNE_END

on boot
    start set_emmc_size

on property:persist.sys.emmc_size=16G
    setprop ro.device.memory.internal 16
#   setprop ro.device.memory.system 0

on property:persist.sys.emmc_size=8G
    setprop ro.device.memory.internal 8
#   setprop ro.device.memory.system 0

on property:persist.sys.emmc_size=4G
    setprop ro.device.memory.internal 4
#   setprop ro.device.memory.system 0

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_external_SD /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/external_SD /storage/external_SD
    class late_start
    disabled

# set eMMC size
service set_emmc_size /system/bin/sh /set_emmc_size.sh
    class main
    user root
    group media_rw system sdcard_rw
    disabled
    oneshot

# execute sreadahead daemon to reduce boot-time
service sreadahead /sbin/treadahead
    oneshot
    disabled
    seclabel u:r:sreadahead:s0

# make a diecision whether sreadahead would be performed or not.
service sreadahead-check /sbin/sreadahead_check
    class main
    user root
    group root
    oneshot
    seclabel u:r:sreadahead-check:s0

on post-fs-data
  # ramoops backup function start service
    start ramoops_backup

#byungyong.hwang  enable & disable crash handler, rtb & trace event through property
service service-crash /system/bin/sh /init.epsilon0c.crash.sh
	class main
	disabled
	oneshot

# ramoops backup function service
service ramoops_backup /system/bin/sh /system/etc/ramoops_backup.sh
    class main
    disabled
    oneshot

on property:persist.service.crash.enable=1
	restart service-crash
on property:persist.service.crash.enable=0
	restart service-crash

on post-fs-data
    chmod 0775 /sns
    chown system system /sns
    mkdir /data/misc/sensor 0775 system system
    restorecon_check_recursive /sns
    restorecon_check_recursive /mpt
    restorecon_check_recursive /persist
    restorecon_recursive /data/misc/sensor
